.banner{
    float: left;
    margin-right: 30px;
}

.detail{
    font-size: 16px;
    color: rebeccapurple;
    text-align: justify;
    text-justify: inter-word;
}

.detail-header{
    color: rebeccapurple;
    font-size: 30px;
    font-weight: bold;
}

.character-img {
    height: 125px !important;
    margin:5px;
    border-radius: 5px;
    border: solid #ffd203 1px;
}

.detail-back-link {
    margin-top: 10px;
}

/*--- d3 Chart style -----------------------------------------*/

.bar {
    display: inline-block;
    width: 20px;
    margin-right: 2px;
    background-color: teal;
}

.bar-fill{
     fill: blueviolet;
     margin-right: 2px;
}    

.bar-text{
    font-family: sans-serif;
    font-size: 11px;
    fill: black;
}

.axis-text{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    fill: black;
}

.chart {
    border: 1px solid lightgray;
}